PORT=5000
# MongoDB Atlas: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
# Local MongoDB:  mongodb://localhost:27017/<dbname>
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
JWT_SECRET=your_jwt_secret_key
GROQ_API_KEY=your_groq_api_key
